body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
  }
  
  h1{
      font-size: 2rem;
      line-height: 1.3em;
      letter-spacing: 20px;
      font-size: 1.5em;
      text-align: center;
  }

.div{
    margin: auto;
    width: 960px;
    height: 600px;
    background-color: white;

}

  .imagen{
      height: auto;
      width: 400px;
      margin-left: 20%;
      display: inline-block;


  }

  .imagen2{
    height: auto;
    width: 400px;
    margin-left: 20%;
    display: inline-block;
    
    
    
    
}

.imagen3{
    height: auto;
    width: 400px;
    margin-left: 20%;
    display: inline-block;
}
  
  p {
      margin-bottom: 1.6em;
  
  }

  
  
  .container{
      width: 85%;
      max-width: 850px;
      margin: 0 auto;
  }
  
  .header{
      background: rgb(24, 23, 23); 
      color: white;
      padding: 2rem 0;
      
  
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
  
  
  }
  
 

  .header a{
      color: white;
      text-decoration: none;
  }
  
  .logo-nav-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo{
      letter-spacing: 15px;
      font-size: 1.4em;
  }
  
  .navegation ul {
      
  margin: 0;
  padding: 0;
  list-style: none;
      
      }
  
      .navegation  ul li {
          display: inline-block;
  
      }
  
  
  .navegation  ul li a {
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.4s linear;
      border-radius: 5px;
  }
  
  
  .navegation ul li a:hover {
      background: #4a4a4a;
  }
  
  .main{
      padding-top: 12rem;
  }

  
  
  .footer {
      background: #f2f2f2;
      padding: 4rem 0;
      text-align: center;
      margin-top: 6rem;
  }
  































